@import url(../general-style.css);
@import url(../component-style/author-info.css);
@import url(../component-style/avatar.css);
@import url(../component-style/blockquote.css);
@import url(../component-style/button.css);
@import url(../component-style/header.css);

body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* Main */
.blog-content {
    display: flex;
    flex-direction: column;
}

/* Blog image*/
.blog-content .blog-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-content .blog-image-container .blog-image {
    width: 100%;
}

/* Blockquote */
.blog-content .blog-text blockquote {
    margin-right: 8px;
}

/* Social share */
.blog-content .social-share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

.blog-content .social-share .icon-container {
    width:48px;
    height: 48px;
    margin-left: 16px;
    cursor: pointer;
}

.blog-content .social-share .icon-container .icon {
    width: 100%;
    height: 100%
}

/* Navigate back */
.blog-content .navigate-back {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.blog-content .navigate-back .back {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 301px) {

}

@media screen and (min-width: 600px) {
    .space {
        padding-right: 16px;
        padding-left: 16px;
    }

    .header-container,
    .navigation-container,
    .blog-content,
    .footer {
        width: 568px;
        margin: 0 auto;
    }

    .blog-content .blog-image-container .blog-image {
        width: 50%;
    }

    .blog-content .navigate-back {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 800px) {
    .header-container,
    .title,
    .navigation-container,
    .blog-content,
    .footer {
        width: 768px;
    }
}
