@import url(../general-style.css);
@import url(../fonts.css);
@import url(../component-style/author-info.css);
@import url(../component-style/avatar.css);

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "header"
            "main";
    overflow-y: scroll;
}

.blog-content .blog-image-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.blog-content .blog-image-container .blog-image {
    width: 100%;
}

.blog-content .blog-text .quote-container {
    display: flex;
    border-radius: 5px;
    background-color: #d5e5ff;
}

.blog-content .blog-text .quote-banner {
    background-color: var(--text-color);
    border-radius: 5px 0 0 5px;
    width: 16px;
}

.blog-content .blog-text blockquote {
    margin-right: 8px;
}
