@import url(../general-style.css);
@import url(../component-style/button.css);
@import url(../component-style/header.css);
@import url(../component-style/footer.css);

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "title"
        "main";
    height: 100vh;
}

.space {
    padding: 8px;
}

.header-container {
    grid-area: title;
}

.blog-content {
    grid-area: main;
    height: 100%;
}

.blog-content .subscribe-title {
    display: flex;
}

.blog-content .subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    margin-right: 8px;
}

.blog-content .subscribe-form #subscribe-email,
.blog-content .subscribe-form #subscribe-name {
    line-height: 1.25rem;
    margin-bottom: 16px;
}

.blog-content .subscribe-form .subscribe-button {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .space {
        padding: 0 16px;
    }

    .header-container,
    .blog-content {
        width: 568px;
        margin: 0 auto;
    }

    .blog-content .subscribe-form {
        align-items: center;
    }

    .blog-content .subscribe-form #subscribe-email,
    .blog-content .subscribe-form #subscribe-name {
        width: 50%;
        margin-bottom: 16px;
    }

    .blog-content .subscribe-form .subscribe-button {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .header-container,
    .blog-content {
        width: 768px;
        margin: 0 auto;
    }

    .blog-content .subscribe-form #subscribe-email,
    .blog-content .subscribe-form #subscribe-name {
        width: 50%;
        margin-bottom: 16px;
    }

    .blog-content .subscribe-form .subscribe-button {
        width: 50%;
    }
}
