.primary-button,
.secondary-button {
/*    style button here and reuse it throughout the project */
    height: 32px;
    border-radius: 16px;
}

.primary-button:focus,
.secondary-button:focus {
    outline: 0;
}

.primary-button {
    border-color: deepskyblue;
    background-color: dodgerblue;
    color: white;
}

.secondary-button {
    border-color: dodgerblue;
    background-color: white;
    color: dodgerblue;
}
