.preview-card {
    display: grid;
    grid-template-columns: 3fr 1fr 24px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "title image nav"
            "text text nav";
    grid-row-gap: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    -o-box-shadow: 1px 1px 3px gray;
    -moz-box-shadow: 1px 1px 3px gray;
    -webkit-box-shadow: 1px 1px 3px gray;
    padding: 8px;
    min-height: 180px;
    height: fit-content;
}

.preview-card:focus {
    border-radius: 5px;
}

.preview-card .card-title {
    grid-area: title;
    display: flex;
    align-items: center;
    font-family: latoblack, sans-serif;
}

.preview-card .card-title h2 {
    margin-top: 8px;
}

.preview-card .image-container {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 70px;
    height: 70px;
}

.preview-card .image-container .thumbnail {
    align-self: center;
    max-width: 100%;
}

.preview-card .text {
    grid-area: text;
}

.preview-card .indicator {
    grid-area: nav;
    display: flex;
    align-items: center;
}
