.card-component {
    display: grid;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    padding: 8px;
    min-height: 180px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "cardTitle"
            "cardImage"
            "cardText"
            "navBack";
}

.preview-card {
    grid-template-columns: 3fr 1fr 24px;
    grid-template-rows: 1fr auto;
    grid-template-areas:
            "cardTitle cardImage cardNav"
            "cardText cardText cardNav";
}

.card-component .card-title {
    grid-area: cardTitle;
    display: flex;
    justify-content: center;
    font-family: latoblack, sans-serif;
}

.preview-card .card-title h2,
.card-component .card-title h2 {
    margin-top: 8px;
}

.card-component .card-title h2 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.card-component .card-image-container,
.preview-card .card-image-container {
    grid-area: cardImage;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.card-component .card-image-container {
    width: 100%;
    align-self: center;
}

.preview-card .card-image-container {
    width: 70px;
    height: 70px;
}

.card-component .card-image-container .thumbnail,
.card-component .card-image-container .card-image {
    align-self: center;
    max-width: 100%;
}

.card-component .card-image-container .card-image {
    height: 100%;
}

.card-component .card-text {
    grid-area: cardText;
}

.card-component .navigate-back {
    grid-area: navBack;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.preview-card .card-nav-indicator {
    grid-area: cardNav;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 301px) {
    .card-component .navigate-back {
        display: flex;
    }
}

@media screen and (min-width: 600px) {
    .card-component {
        grid-template-columns: 1fr 150px;
        grid-column-gap: 16px;
        grid-template-rows: auto;
        grid-template-areas:
            "cardTitle cardImage"
            "cardText cardText"
            "navBack navBack";
    }

    .card-component .navigate-back {
        display: flex;
    }
}

@media screen and (min-width: 769px) {
    .card-component .navigate-back {
        display: flex;
    }
}
